<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639170753343-l233t8t2icime1a5v7nbpkjme3rofh16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639170753343-l233t8t2icime1a5v7nbpkjme3rofh16</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639170753343-9s38mijclir6t62seh4ucjvch4g8ntpl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhVDxEv1eTUYB0U44s0WKF3RLXX-0J1iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>639170753343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensestrackerxx</string>
	<key>PROJECT_ID</key>
	<string>expenses-tracker-develop-115d8</string>
	<key>STORAGE_BUCKET</key>
	<string>expenses-tracker-develop-115d8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639170753343:ios:b21d10d89b0d37a671598a</string>
</dict>
</plist>